* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: #1F2937;
    color: white;
}

.main .container {
    display: flex;
    justify-content: space-between;
}

ul,
a {
    list-style-type: none;
    color: white;
    text-decoration: none;
}